# Dependency directories
node_modules/
.pnpm/

# Build output
# /dist/
# /build/

# Cache directories
.cache/
.pnp/
*.pnp.js

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
.DS_Store

# Log files
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Miscellaneous
package-lock.json
yarn.lock
.prettierignore
.prettierrc
